<nav class="navigation">
    <div class="container">
        <div class="row align-middle">
            <div class="col-md">
                {{> atoms-logo }}
            </div>
            <div class="col-md right-menu">
                <a>
                    Menú{{> atoms-iconCall(icon: 'menu', w:'30', h:'30')}}
                </a>
            </div>
        </div>
    </div>
</nav>
<header></header>