body {
    font-family: 'Roboto Slab', serif;
}

#hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/banner1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: inline-grid;
    grid-template-columns: 50% 50%;
    position: fixed;
    width: 100%; 
    height: 6em;
    padding: 0 3em;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: 'Roboto Slab', serif;
    z-index: 20;
}

.header-logo{
    height: 100%;
}

.header-menu{
    text-align: end;
    text-transform: uppercase;
    padding-top: 2em;    
}

.header-menu a{
    color: 	#003979; 
}

.header-menu a:hover{
    color: 	#003979;
    text-decoration: none;
}

.logo{
    max-height: 100%;
}

.icon-header{
    padding-top: 4px;
    vertical-align: baseline;
}

.msg-prin{
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    color: 	#003979;
}

.msg-prin h1{
    font-family: 'Roboto Slab', serif;
    font-size: 3.2em;
    font-weight: 600;
    letter-spacing: .10em;
    z-index: 10; 
}

.mid-msg {
    color: rgba(252, 191, 179, 1);
}

h1 br{
    margin-bottom: 2em;
}

.arrow-menu {
    width: 100%;
    bottom: 0;
    position: absolute;
    opacity: 0.5;
}

#icon-arrow-menu {
    cursor: pointer;
}

.main-par {
    background-color: rgba(253,191,179, 0.7);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1.5em 4em; 
}

.main-impar {
    background-color: rgba(253,191,179, 0.5);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 1.5em 4em;
}

.product{
    justify-self: center;
    align-self: center;
}

.product img{
    border-radius: 1%;
    border: 0.2em solid rgba(0, 57, 121, 0.7);
}

.product-description {
    padding: 1em;
    width: fit-content;
    margin: auto;
    font-family: 'Roboto Slab', serif;
}

.product-description hr {
    border: 0;
    margin: 0;
    border-top: 0.4em solid rgba(0,57,121, 0.5);
}

.product-description h1{
    margin: 0;
    font-family: 'Roboto Slab', serif;
    color: rgb(0,57,121);
    text-align: right;
    clear: right;
}

.main-impar .product-description h1{
    text-align: left;
    clear: left;
}

.product-description p{
    color: #142D4C;
}

.left-icon {
    vertical-align: unset;
}

.right-icon {
    float: right;
}


footer {
    height: 100%;
    background-color: rgba(0, 57, 121, 0.7);
    display: grid !important;
    grid-template-columns: 50% 50%;
    padding: 1.5em;
    color: whitesmoke;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.footer-contact {
    justify-self: center;
    text-align: center;
}

.footer-social-networks {
    justify-self: center;
}

.social-media {
    text-align: center;
    margin: 0;
    padding: 0;
    
}
.social-media li{
    display: inline;
    padding: 0 0.4em;
}

.social-media li a{
    text-decoration: none;
}