.navigation,
.navigation-menu {
    position: fixed;
    width: 100%;
    height: 6em;
    font-family: 'Roboto', sans-serif;
    z-index: 20;
    display: grid;
    align-content: center;  
}

.navigation{
    background-color: rgba(0, 0, 0, 0.1);
}

.navigation a{
    color: #003979;
    text-decoration: none;
}

.navigation-menu a {
    color: #fff;
    text-decoration: none;
}

.right-menu {
    text-align: end;
    text-transform: uppercase;
}

@media (max-width: 575.98px) {
    .show-from-small{
        display: none;
    }
    .header-inner .row h1{
        font-size: 2.5em !important;
    }
}  

.right-menu svg{
    vertical-align: sub;
}

header {
    font-family: 'Montserrat', sans-serif;
}

.msg1 {
    color: #F67280;
}

.msg2 {
    color: #003979;
}

.header-inner {
    height: 100%;
    text-align: center;
}

.header-inner .msg {
    height: 90%;
}

.header-inner arrow {
    height: 10%;
}

.header-inner .row h1{
    font-size: 3em;
    font-weight: bold;
}

.logo {
    height: 5em;
    display: block;
}

.arrow-menu {
    opacity: 0.8;
}

footer {
    height: 100%;
    background-color: rgba(0, 57, 121, 0.9);
    padding: 1.5em;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
}

.social-media{
    margin: 0;
    padding: 0;
}

.social-media-movil{
    margin: 0;
    padding: 0 0 1em 0;
}

.social-media li,
.social-media-movil li {
    display: inline;
    padding: 0 0.4em;
}

.social-media li a,
.social-media-movil li a {
    text-decoration: none;
}

@media (min-width: 575.98px) {
    .show-until-small {
        display: none;
    }
}

@media (min-width: 768px) {
    .show-until-medium{
        display: none;
    }
}

@media (max-width: 767.98px) {
    .show-from-medium{
        display: none;
    }
}

@media (max-width: 991.98px) {
    .show-from-large {
        display: none;
    }
}

@media (min-width: 991.98px) {
    .show-until-large {
        display: none;
    }
}

.block {
    margin: 1em 0;
    position: relative;
}

.display-tc {
    display: table-cell;
    vertical-align: middle;
    height: 600px;
    text-align: right;
}

.card-a {
    padding: 3em;
    background: rgba(28, 179, 200, 0.8);
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 1.3em;
    position: absolute;
    right: 40%;
    max-width: 500px;
    border-radius: 1%;
}

.card-b {
    padding: 3em;
    background:rgba(246, 114, 128, 0.8);
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 1.3em;
    position: absolute;
    left: 40%;
    max-width: 500px;
    border-radius: 1%;
    text-align: right;
}

.card-b-md {
    padding: 3em;
    background: rgba(246, 114, 128, 0.8);
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 1.3em;
    position: absolute;
    left: 40%;
    max-width: 500px;
    border-radius: 1%;
    text-align: right;
}

.card-a h1,
.card-b h1,
.card-home-b h1,
.card-home-a h1 {
    font-size: 2em;
    font-weight: 700;
    color: whitesmoke;
}

#breakfast-promo {
    height: 100%;
}

.banner {
    background: rgba(0, 0, 0, 0.05);
    margin: 1em 0;
    padding: 1em 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}

.promo{
    max-width: 500px;
    border-radius: 1%;
}

.promo-lg{
    border-radius: 1% 1% 0% 0%; 
}

.card-home-b{
    padding: 1em;
    background: rgba(246, 114, 128, 0.8);
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 1.3em;
}

.card-home-a {
    padding: 1em;
    background: rgba(28, 179, 200, 0.8);
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-size: 1.3em;
}

.center{
    text-align: center;
    margin-bottom: 1em;
}

#inner-menu {
    position: fixed;
    background:rgba(0, 57, 121, 0.9);
    width: 100%;
}

.menu {
    height: 100%;
}

.list-menu {
    list-style: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2em;
}

.list-menu li {
    margin: 0.2em 0;
}

.list-menu a {
    text-decoration: none;
    color: white;
}

#inner-menu{
    z-index: 90;
    display: none;
}

