.logo{
    width: 30rem;
    height: 100%;
}

#hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://media-public.canva.com/MACNTKY-Sbo/1/screen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    position: fixed;
    top: 0;
    height: 4.5em;
    width: 100%;
    z-index: 99;
}

.menu {
    text-align: right;
}