#hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://media-public.canva.com/MACNTKY-Sbo/1/screen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    display: inline-grid;
    grid-template-columns: 50% 50%;
    position: fixed;
    width: 100%; 
    height: 5em;
    padding: 0 3em 0 3em;
}

.header-logo{
    height: 100%;
}

.header-menu{
    text-align: end;
    text-transform: uppercase;
    padding-top: 2em; 
}


.logo{
    max-height: 100%;
}

