<div class="card mt-3 shadow-lg promo-desayunos">
    <img src="../../images/charming.jpg" alt="" class="card-img-top">
    <div class="card-body">
        <h3 class="card-title">DESAYUNO 1</h3>
        <p class="text-muted">Especial individual</p>
        <p class="card-text">Deliciosos, frescos y con los productos de mas alta calidad</p>
        <button onclick="show('detail-breakfast')" type="button" class="btn btn-outline-primary">Ver contenido</button>
    </div>
</div>