<ul class="social-media">
    <li>
        <a href="https://www.facebook.com/Charming-Bogota-768398979865627/" target="_blank">
            {{> atoms-iconCall(icon: 'facebook', w:'50', h:'50')}}
        </a>
    </li>    
    <li>
        <a href="https://www.instagram.com/charmingbogota/?hl=es-la" target="_blank">
            {{> atoms-iconCall(icon: 'instagram', w:'50', h:'50')}}
        </a>
    </li>
    <li>
        <a href="https://api.whatsapp.com/send?phone=573105873137" target="_blank">
            {{> atoms-iconCall(icon: 'whatsapp', w:'50', h:'50')}}
        </a>        
    </li>
    <li>
        <a href="https://twitter.com/charmingbogota?lang=en" target="_blank">
            {{> atoms-iconCall(icon: 'twitter', w:'50', h:'50')}}
        </a>
    </li>
</ul>