<div class="main">
    <div class="product"></div>
    <div class="product-description">
        <h1>DESAYUNOS {{> atoms-iconCall(class: 'breakfast-icon', icon: 'breakfast', w: '30', h:'30') }}</h1>
        <p>Deliciosos, nustritivos y con los productos de mas alta calidad.</p>
    </div>
</div>