<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="#">Desayunos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Cenas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Entregas</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Formas de pago</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Contactenos</a>
    </li>
</ul>