<div class="container aditionals">
    <div class="row">
        <div class="col">
            <h2 class="text-center">ADICIONALES</h2>
            <div class="table-responsive">
                <table class="table table-striped table-primary text-center show-from-large">
                    <tbody>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-primary text-center show-from-small show-until-large">
                    <tbody>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-striped table-primary text-center show-until-small">
                    <tbody>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                        </tr>
                        <tr>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                        </tr>
                        <tr>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                        </tr>
                        <tr>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                        </tr>
                        <tr>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                        </tr>
                        <tr>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                        </tr>
                        <tr>
                            <td>Barra de queso</td>
                            <td>$ 2.000</td>
                        </tr>
                        <tr>
                            <td>Torta personal</td>
                            <td>$ 12.000 </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>