<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>¡Bienvenido!</h1>
                <p>Charming Bogotá, le da una cordial bienvenida a su portal y le invita a conocer los diferentes servicios que prestamos, como Desayunos Sorpresa a Domicilio, Cenas Sorpresa, Canastas de frutas, Regalos personalizados a la medida, Flores y mucho más!</p>
            </div>
        </div>
    </div>
</div>