<div class="container">
    <div class="row block">
        <div class="col-md-6">
            <img id="breakfast-promo" src="http://via.placeholder.com/600x600"> 
        </div>
        <div class="col-md-6">
            <div class="display-tc">
                <div class="card-a shadow-lg">
                    {{> atoms-iconCall(icon:'breakfast', w:'60', h:'60') }}
                    <h1>DESAYUNOS</h1>
                    <p>Deliciosos, frescos y con los productos de mas alta calidad</p>
                </div>
            </div>
        </div>
    </div>
</div>