<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6">
            {{> molecules-card-desayuno }}
        </div>
        <div class="col-lg-4 col-md-6">
            {{> molecules-card-desayuno }}
        </div>
        <div class="col-lg-4 col-md-6">
            {{> molecules-card-desayuno }}
        </div>
        <div class="col-lg-4 col-md-6">
            {{> molecules-card-desayuno }}
        </div>
        <div class="col-lg-4 col-md-6">
            {{> molecules-card-desayuno }}
        </div>
        <div class="col-lg-4 col-md-6">
            {{> molecules-card-desayuno }}
        </div>
    </div>
</div>