<div id="detail-breakfast" class="container fixed-top">
    <div class="card detail-breakfast shadow-lg small-detail md-detail">
        <div class="cerrar">
            <a href="javascript:show('detail-breakfast')">
                {{> atoms-iconCall(icon: 'close', fill:'black', w:'20', h:'20')}}
            </a>
        </div>
        <div class="row no-gutters align-items-center justify-content-center">
            <div class="col-lg-5 text-center">
                <img src="../../images/charming.jpg" alt="" class="card-img shadow-lg">
                <button type="button" class="btn btn-outline-secondary btn-lg mt-3 show-from-medium">Ordenar</button>
                <button type="button" class="btn btn-outline-secondary mt-1 show-until-medium">Ordenar</button>
            </div>
            <div class="col-lg-5">
                <div class="card-body">
                    <h2 class="card-title">Desayuno 1</h2>
                    <h3 class="text-muted">Contenido</h3>
                    <ul class="card-text">                
                        <li>Bandeja tejida a mano</li>
                        <li>Termo mug de acero (con leche caliente)</li>
                        <li>Tamal (caliente)</li>
                        <li>Arepa rellena de queso (caliente)</li>
                        <li>Poción de fruta fresca</li>
                        <li>Pan fresco</li>
                        <li>Jamón individual</li>
                        <li>Barra de queso</li>
                        <li>Café Juan Valdéz</li>
                        <li>Globo metalizado mediano</li>
                        <li>Pocillo y plato de porcelana</li>
                        <li>Cubiertos y servilletas</li>
                        <li>Girasol o rosa</li>
                        <li>Tarjeta dedicatoria</li>
                        <li>Azúcar</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>