<div class="container show-from-medium">
    <div class="d-md-flex flex-row align-items-center justify-content-end block">
        <div class="card-a shadow-lg">
            {{> atoms-iconCall(icon:'breakfast', w:'60', h:'60') }}
            <h1>DESAYUNOS</h1>
            <p>Deliciosos, frescos y con los productos de mas alta calidad</p>
        </div>
        <div class="">
            <img src="../../images/charming.jpg" alt="" class="img-fluid">
        </div>                    
    </div>
</div>