<footer>
    <div class="footer-social-networks">
        <p>Encuentranos en nuestras redes sociales:</p>
        {{> molecules-socialMedia }}
    </div>
    <div class="footer-contact">
        <a href="#">
            <img src="../../images/logo215.png" alt="logo Charming Bogota footer">
        </a>
        <p>
            WhatsApp: (+57) 310 5873137<br>
            Calle 132A # 89-80<br>
            Charming Bogotá<br>
            Bogotá - Colombia            
        </p>
    </div>
</footer>