<header id="hero">
    <div class="container header-inner">
        <div class="row align-items-center justify-content-center msg">
            <div class="col-sm">
                <h1>
                    <span class="msg1">DESAYUNOS</span><br>
                    <span class="msg2">CENAS</span><br>
                    <span class="msg1">REGALOS</span><br>
                    <span class="msg2">¡PARA CUALQUIER OCASIÓN!</span>
                </h1>
            </div>
        </div>
        <div class="row align-items-end justify-content-center arrow">
            <div class="col">
                {{> atoms-iconCall(class:'arrow-menu', icon:'arrow-menu', h:'50', w:'50'')}}
            </div>
        </div>
    </div>
</header>