<header class="internal-header">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col">
                <h1 class="show-from-large">DESAYUNOS</h1>
                <h1 class="show-from-medium show-until-large">DESAYUNOS</h1>
                <h1 class="show-until-medium">DESAYUNOS</h1>
            </div>
        </div>
    </div>
</header>