<div class="container mt-3">
    <div class="row">
        <div class="col">
            <div class="jumbotron text-center">
                <p>Ofrecemos el servicio de desayunos sorpresa para BOGOTÁ, CHIA, CAJICA y LA SABANA</p><hr>
                <p>Todos los productos son de primera calidad, seleccionados, garantizados y completamente frescos.</p>
            </div>
        </div>
    </div>
</div>