<nav class="navigation-menu">
    <div class="container">
        <div class="row no-gutters align-items-center">
            <div class="col">
                <a href="{{ link.pages-home }}">
                    <img class="logo" src="../../../images/logo215.png" alt="Charming Bogota">
                </a>
            </div>
            <div class="col right-menu show-from-small">
                <a href="javascript:showMenu()">
                    Cerrar{{> atoms-iconCall(fill:'white', icon: 'close', w:'20', h:'20')}}
                </a>
            </div>
            <div class="col right-menu show-until-small">
                <a href="javascript:showMenu()">
                    {{> atoms-iconCall(fill:'white', icon: 'close', w:'20', h:'20')}}
                </a>
            </div>
        </div>
    </div>
</nav>